caption {
    font-weight: bold;
    font-size: xx-large;
}

p {
    text-align: center;
}

#board {
    margin: 0 auto;
    border-spacing: 10px;
    background-color: blue;
    border-collapse: separate;
}

td {
    background-color: white;
}

img {
    vertical-align: middle;
    position: relative;
}

img,
td {
    --cell-size: 6vmin;
    --min-size: 30px;
    --max-size: 70px;
    border-radius: clamp(var(--min-size), var(--cell-size), var(--max-size));
    width: clamp(var(--min-size), var(--cell-size), var(--max-size));
    height: clamp(var(--min-size), var(--cell-size), var(--max-size));
    box-sizing: content-box;
}

.PLAYER1 {
    background-color: red;
}

.PLAYER2 {
    background-color: yellow;
}