caption {
    font-weight: bold;
    font-size: xx-large;
}

p {
    text-align: center;
}

#board {
    margin: 0 auto;
    border-spacing: 10px;
    background-color: blue;
}

td {
    background-color: white;
}

img {
    vertical-align: middle;
    position: relative;
}

img,
td {
    --cell-size: 8vmin;
    border-radius: clamp(30px, var(--cell-size), 50px);
    width: clamp(30px, var(--cell-size), 50px);
    height: clamp(30px, var(--cell-size), 50px);
}

.PLAYER1 {
    background-color: red;
}

.PLAYER2 {
    background-color: yellow;
}